/* MyBookings.css */

.my-bookings-container {
  
    width: 100%;
    
  }
  
  .bookings-list {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .booking-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  

